.ppai_app {
	min-width: 100%;
	min-height: 100%;

	nav {
		@apply flex flex-row items-center justify-between;
		@apply h-20;

		.logo {
			@apply flex flex-row items-center;
			@apply h-full;
			@apply font-extrabold;
			@apply text-4xl;
			@apply px-4;
			/* TODO: Clean up and set up a proper logo */
			/* @apply cursor-pointer;
			color: #00ffff;
			background: linear-gradient(-45deg, #00ffc2, #00caff, #00ff99);
			background-size: 600% 600%;
			-webkit-background-clip: text;
			-webkit-text-fill-color: transparent;
			animation: gradient 8s ease-in-out infinite alternate; */
			.logo_ai {
				@apply text-3xl;
				@apply ml-2;
				/* background: linear-gradient(211deg, #7300ff, #ff0012fc);
				background-size: 600% 600%;
				-webkit-background-clip: text;
				-webkit-text-fill-color: transparent; */
				/* animation: neon 4s ease-in-out infinite alternate; */
			}
		}
	}
}

.app_container {
	@apply flex flex-col m-0;
	@apply bg-white dark:bg-slate-900 dark:text-gray-50;
	min-width: 100%;
	min-height: 100%;
}

@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}
@keyframes neon {
	0% {
		text-shadow:
			0px 0px 2px #b3050563,
			-1px 1px 2px #ffa10000,
			-2px 1px 2px #ff002d00;
	}
	100% {
		text-shadow:
			-2px 3px 1px #cfff1eb5,
			3px 1px 6px #00ff0000,
			-2px 1px 0px #00ecd100;
	}
}
